
.body{
    background-image: url('wallpaper2.jpg'); 
}

.bold {
	font-weight:900;
}

.pointer:hover {
    background-color: lightblue;
}

.pointer {
    cursor: pointer;
    margin: 10px;
    border: 1px solid blue;
    text-align: center;
    width: 80px;
    height: 80px;
    display: inline-table;
    padding: 10px;
    font-size: 50px;
}

.status{
    color: navy;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}